* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
/* Navbar */
.logo {
  max-width: 90px;
  height: auto;
}
.nav {
  background-color: white;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  top:0;

;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
  font-weight: 800;
}
.nav li a {
  text-decoration: none;
  color: #4d09d4;
  text-transform: uppercase;
}
.nav li a:hover {
  color: black;
}
.nav li {
  margin: auto 70px;
}
.icon {
  margin: 20px;
  display: flex;
}

.glass-icon {
  color: #4d09d4;
  /* color: black; */
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  padding: 8px;
  box-shadow: 3px 3px 10px black, -3px -3px 10px black;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.glass-icon:hover {
  color: #000;

  box-shadow: inset 3px 3px 10px black, inset -3px -3px 10px black;
}

/* home */
.text-section{
  margin: 20px;
  padding: 100px;
}

.pan {
  color: white;
}

.hero {
  color: #000;
  text-align: center;
  background-color: #9377e6;
}

.hero-content {
  max-width: 600px;
  max-height:600px;
  margin: auto;
}

.hero h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}


.link {
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
}
.link:hover {
    background-color: #4d09d4;
    color: white;
  }

  .btn {
    display: inline-block;
    border:2px solid white; 
    color: black;
    margin: 20px;
    font-weight: bold;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    
  }
  
  .btn:hover {
    background-color: #4d09d4;
    color: white;
  }

  /* about */
.about-section {
  margin-top: 80px;
  padding-top: 100px;
}

.about-para {
  display: flex;
}

.me {
  flex: 1;
  margin-left: 80px;
}

#anime {
  height: 350px;
  width: 400px;
  object-fit: cover;
  margin-right: 100px;
  margin-top: 60px;
}
.about-me {
  margin-top: 50px;
}
.para {
  margin-top: 40px;
}

.about-section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #9377e6;
}

.about-section p {
  font-size: 18px;
  margin-right: 300px;
}

/* skills */
.skills {
  padding-top: 70px;
  display: flex;
justify-content: space-evenly;

}
.skills ul{
  display: flex;
  list-style:none ;
  margin: 50px;
  flex-wrap: wrap;

}

.skills li {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 30px; 
  height: 30px; 
  border: 2px solid black;
  margin-right: 100px;
  padding: 30px;
  text-decoration: none;
}

.skills li i {
  font-size: 30px; 
}
.skills li h5 {
  text-align: center;
  margin-top: 10px;
  font-size: 14px; 
  color: black; 
}
.fa-html5{
  color:#e34c26;
  
}
.fa-css3-alt{
  color:#264de4;
}
.fa-square-js{
  color:#F0DB4F;
}
.fa-react{
  color: #61DBFB;
}
.fa-gem{
  color:#CC0000;
}
.fa-database{
  color:#00758F;
}
.my-skill{
  color:#9377e6;
  font-size: 30px;
  margin-left: 80px;
  margin-top: 200px;
}

.tailwind {
  display: block; 
  width: 30px; 
  height: auto;
  border: 2px solid black;
  padding: 30px; 
  object-fit:cover; 
}

/* Projects */

.card__img {
  display: block;
  width: 400px;
  margin-top: 50px;
}

.container {
  padding-top: 70px;
  display: grid;
  place-items: center;

}

.card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}



.card__data {
  background-color:white;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 15);
  border-radius: 10px;
  margin-right: 20px;
  width: 316px;
  padding-inline: 2.5rem;
}

.card__description {
  display: block;
  font-size:15px;
  margin-bottom:20px;
}

.card__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom:10px;
}

.card__button {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: #4d09d4;
  padding: 10px;
  border-radius: 8px;
  
}

.card__button:hover {
  color: white;
  background-color: #000;
}

/* animations on hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}


/* contact */
.call {
  
  color: #9377e6;
  margin-top: 200px;
  margin-left: 80px;
  font-size: 30px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-img {
  height: 600px;
  width: 800px;
  margin-left: 50px;
  margin-right: 20px;
}

.contact-form {
  margin-right: 50px;
  margin-left: 100px;
}

.contact-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.contact-form {
  flex: 1;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #9377e6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4d09d4;
}
/* footer */
.footer {
  background-color: #9377e6;
  text-align: center;
  padding: 20px;
}


@media screen and (max-width: 768px) {
  .nav ul, .icon {
      flex-direction: column;
      align-items: center;
  }

  .nav li {
      margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .hero-content, .text-section {
      width: 100%;
      text-align: center;
  }

}

@media screen and (max-width: 768px) {
  .about-para {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 20px; 
  }

  .me {
      order: 2; 
      margin: 20px 0;
  }

  #anime {
      order: 1; 
      margin-bottom: 20px; 
      width: 80%;
  }

  .about-section h2 {
      margin-top: 20px;
  }

  .about-section p {
      font-size: 16px; 
      margin: 0 auto; 
      max-width: 600px; 
  }
}

@media screen and (max-width: 768px) {
  .skills ul {
      justify-content: center;
  }

  .skills li {
      margin: 10px;
      width: auto;
  }
}
@media screen and (max-width: 768px) {
  .card__container {
      grid-template-columns: 1fr;
  }

  .card__article {
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
  }

  .contact-img{
    display: none;
  }
  .contact-form {
      width: 90%;
      margin: 20px 0;
  }
}
